@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-big {
  display: block;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
}

/* Header */

.page-header {
  margin: 0 auto;
  display: flex;
  width: 1060px;
}

.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
}

.navigation-site {
  margin-left: 30px;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

/* Features */

.features-main-title {
  width: 620px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.features-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.features-list {
  margin: 0;
  padding: 0;
}

.features-list-row {
  display: flex;
}

.features-item {
  width: 400px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-brighter {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-illustrated {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.features-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  text-align: center;
}

.features-title {
  width: 175px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-description {
  width: 230px;
  margin: 0 auto;
}

.features-item-image img {
  display: block;
}

/* Promo */

.promo-item:nth-child(2n - 1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.promo-title {
  width: 505px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.promo-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.promo-item {
  width: 400px;
}

.promo-item-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.promo-item-description {
  width: 230px;
  margin: 0 auto;
  text-align: center;
}

/* Hotel search */

.hotel-search-text-wrapper {
  text-align: center;
}

.hotel-search-upper {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-main {
  width: 592px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  margin: 0 auto;
}

/* Newsletter */

.newsletter {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-description {
  width: 475px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.email-input {
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.button-subscribe {
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
}

/* Footer */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  width: 142px;
  margin: 0;
  padding: 0;
}

.footer-adress-phone {
  display: block;
  width: 331px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

/* Catalog */
/* Hotels filter */

.hotels-filter-form {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.hotels-filter-buttons {
  display: flex;
  flex-direction: column;
}

.button-apply {
  display: block;
  width: 191px;
}

.button-reset {
  display: block;
  width: 191px;
}

.hotels-filter {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/catalog-header-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.textbox-name {
  line-height: 23px;
}

.checkbox-name {
  line-height: 23px;
}

.radio-name {
  line-height: 23px;
}

.textbox-input {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
}

.textbox-name {
  line-height: 24px;
  text-align: right;
  text-transform: lowercase;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
}

/* Search result */

.search-result-header {
  display: flex;
  width: 1060px;
}

.search-result-text {
  width: 338px;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.view-change-wrapper {
  width: 160px;
  margin-left: auto;
}

/* Hotel list */

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.hotel-card {
  width: 340px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.button-favorite {
  background-color: #82B3D3;
}

.button-favorite-selected {
  background-color: #7DB54F;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}

/* Pagination */

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-skip {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}

/* Newsletter */

.catalog-newsletter .newsletter-title {
  color: #000000;
}
